/* الأنماط العامة لجميع الشاشات */
.products {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .product {
    position: relative;
    overflow: hidden;
    width: 100%;
  }
  
  .col-custom {
    flex: 0 0 calc(33.333% - 15px);
    max-width: calc(33.333% - 15px);
    margin-bottom: 15px;
  }
  
  .product .product-title {
    color: rgb(241, 239, 239);
    font-size: 30px;
    font-weight: bold;
  }
  
  .product .product-image {
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .product .product-describe {
    font-size: 0.8rem;
    width: -webkit-fill-available;
    position: absolute;
    bottom: -100px;
    background-color: rgba(0, 0, 0, .8);
    padding: 15px;
    transition: all .2s ease-in-out;
  }
  
  @media screen and (min-width: 901px) {
    .col-custom {
      flex: 0 0 calc(33.333% - 15px);
      max-width: calc(33.333% - 15px);
    }
  
    .product .product-image {
      width: 410px;
      height: 350px;
      object-fit: cover;
    }
  }
  
  @media screen and (min-width: 481px) and (max-width: 900px) {
    .col-custom {
      flex: 0 0 calc(50% - 15px);
      max-width: calc(50% - 15px);
    }
  }
  
  @media screen and (max-width: 480px) {
    .col-custom {
      flex: 0 0 calc(100% - 15px);
      max-width: calc(100% - 15px);
    }
  }
  
  .product .product-image:hover + .product-describe {
    bottom: 2rem;
  }
  
  .product .product-price {
    position: absolute;
    right: 0;
    top: 2.5rem;
    background-color: rgb(163, 37, 15);
    font-weight: bold;
    font-size: 22px;
    padding: 5px 10px;
    border-top-right-radius: 10px;
  }
  
  .product-btn {
    display: block;
    width: 100%;
    background-color: rgb(104, 148, 39);
  }
  
  .product-btn:hover {
    background-color: #9fb1bd;
  }
  
  .btn-show {
    width: 100%;
    font-size: 15px;
    color: #fff;
    border-radius: 25px;
    padding: 12px 30px;
    letter-spacing: 0.5px;
    transition: all .3s;
    background-color: #27292e;
  }
  
  .btn-show:hover {
    background-color: #9fb1bd;
  }
  